backend-n8n/workflows/agente_principal.json
{
  "name": "Agente IA - Estimador de Copago y Cobertura",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "agente-copago",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "id": "ae829859-6c4b-4b8b-9c75-921b874060bc",
      "name": "01 Webhook - Recibir solicitud paciente",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -768,
        144
      ],
      "webhookId": "agente-copago"
    },
    {
      "parameters": {
        "jsCode": "// Normaliza y valida el input recibido desde frontend\nconst body = $json.body || $json;\n\nconst nombre = String(body.nombre || 'Paciente').trim();\nconst sintoma = String(body.sintoma || body.sintomas || '').trim();\nconst planSeguro = String(body.planSeguro || body.plan || 'Basico').trim();\n\nif (!sintoma || sintoma.length < 3) {\n  return [{\n    json: {\n      error: true,\n      statusCode: 400,\n      mensaje: 'Debes enviar un síntoma válido.',\n      ejemplo: {\n        nombre: 'Juan',\n        sintoma: 'dolor de pecho y mareos',\n        planSeguro: 'Premium'\n      }\n    }\n  }];\n}\n\nconst planesPermitidos = ['Basico', 'Estándar', 'Estandar', 'Premium'];\nconst planNormalizado = planSeguro.toLowerCase().includes('premium')\n  ? 'Premium'\n  : planSeguro.toLowerCase().includes('est')\n    ? 'Estándar'\n    : 'Basico';\n\nreturn [{\n  json: {\n    error: false,\n    nombre,\n    sintoma,\n    planSeguro: planNormalizado,\n    timestamp: new Date().toISOString()\n  }\n}];"
      },
      "id": "345827ef-df79-4ff5-a616-f1567fafd9f9",
      "name": "02 Code - Validar y normalizar input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -496,
        144
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "input_error_condition",
              "leftValue": "={{ $json.error }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "f080c027-e6c4-4d2e-9cd3-33a837523fd0",
      "name": "03 IF - ¿Input inválido?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -256,
        144
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseCode": "={{ $json.statusCode || 400 }}"
        }
      },
      "id": "015bf399-3df0-4b62-94eb-5292886d8c57",
      "name": "04 Respond - Error de validación",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-2.5-flash:generateContent",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "x-goog-api-key",
              "value": "AIzaSyBZvkCWisA4d_Cy31Vc2ZEGD10W4t-VW7Y"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"contents\": [\n    {\n      \"parts\": [\n        {\n          \"text\": \"Actúa como un clasificador de síntomas para un MVP de hackathon. No des diagnóstico médico. A partir de los síntomas del paciente, devuelve SOLO un JSON válido sin markdown, sin explicaciones adicionales. El JSON debe tener exactamente estas claves: especialidad, urgencia, razon, sintomasClave. Especialidades permitidas: Cardiología, Neurología, Neumología, Gastroenterología, Dermatología, Traumatología, Medicina General. Urgencia permitida: baja, media, alta. Síntomas del paciente: {{$json.sintoma}}\"\n        }\n      ]\n    }\n  ],\n  \"generationConfig\": {\n    \"temperature\": 0.2,\n    \"responseMimeType\": \"application/json\"\n  }\n}",
        "options": {}
      },
      "id": "a2ee7066-bdda-477d-9c1e-e37cacc86114",
      "name": "05 HTTP - Clasificar síntomas con IA",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        0,
        272
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\n\nlet aiText = null;\nlet parsed = null;\n\ntry {\n  aiText = input.candidates?.[0]?.content?.parts?.[0]?.text;\n\n  if (typeof aiText === \"string\") {\n    aiText = aiText\n      .replace(/```json/g, \"\")\n      .replace(/```/g, \"\")\n      .trim();\n\n    parsed = JSON.parse(aiText);\n  }\n} catch (error) {\n  parsed = null;\n}\n\nconst original = $('02 Code - Validar y normalizar input').first().json;\n\nfunction fallbackClasificacion(sintoma) {\n  const s = (sintoma || \"\").toLowerCase();\n\n  if (s.includes(\"pecho\") || s.includes(\"corazón\") || s.includes(\"cardio\")) {\n    return {\n      especialidad: \"Cardiología\",\n      urgencia: \"alta\",\n      razon: \"Los síntomas pueden estar relacionados con el sistema cardiovascular.\",\n      sintomasClave: [sintoma]\n    };\n  }\n\n  if (s.includes(\"mareo\") || s.includes(\"desmayo\") || s.includes(\"cabeza\") || s.includes(\"convuls\")) {\n    return {\n      especialidad: \"Neurología\",\n      urgencia: \"media\",\n      razon: \"Los síntomas pueden estar relacionados con el sistema neurológico.\",\n      sintomasClave: [sintoma]\n    };\n  }\n\n  if (s.includes(\"tos\") || s.includes(\"respirar\") || s.includes(\"fiebre\") || s.includes(\"pulmón\")) {\n    return {\n      especialidad: \"Neumología\",\n      urgencia: \"media\",\n      razon: \"Los síntomas pueden estar relacionados con el sistema respiratorio.\",\n      sintomasClave: [sintoma]\n    };\n  }\n\n  if (s.includes(\"estómago\") || s.includes(\"vomito\") || s.includes(\"vómito\") || s.includes(\"diarrea\") || s.includes(\"abdominal\")) {\n    return {\n      especialidad: \"Gastroenterología\",\n      urgencia: \"media\",\n      razon: \"Los síntomas pueden estar relacionados con el sistema digestivo.\",\n      sintomasClave: [sintoma]\n    };\n  }\n\n  if (s.includes(\"piel\") || s.includes(\"alergia\") || s.includes(\"roncha\") || s.includes(\"picazón\")) {\n    return {\n      especialidad: \"Dermatología\",\n      urgencia: \"baja\",\n      razon: \"Los síntomas pueden estar relacionados con la piel o una reacción alérgica.\",\n      sintomasClave: [sintoma]\n    };\n  }\n\n  if (s.includes(\"fractura\") || s.includes(\"golpe\") || s.includes(\"hueso\") || s.includes(\"torcedura\")) {\n    return {\n      especialidad: \"Traumatología\",\n      urgencia: \"media\",\n      razon: \"Los síntomas pueden estar relacionados con una lesión física.\",\n      sintomasClave: [sintoma]\n    };\n  }\n\n  return {\n    especialidad: \"Medicina General\",\n    urgencia: \"baja\",\n    razon: \"Los síntomas no permiten identificar una especialidad específica en este MVP.\",\n    sintomasClave: [sintoma]\n  };\n}\n\nconst clasificacion = parsed || fallbackClasificacion(original.sintoma);\n\nreturn [\n  {\n    json: {\n      ...original,\n      especialidad: clasificacion.especialidad || \"Medicina General\",\n      urgencia: clasificacion.urgencia || \"baja\",\n      razon: clasificacion.razon || \"Clasificación generada por el agente.\",\n      sintomasClave: clasificacion.sintomasClave || [original.sintoma],\n      fuenteClasificacion: parsed ? \"ia_gemini\" : \"fallback_reglas\"\n    }\n  }\n];"
      },
      "id": "8cb6b949-d914-4ddb-bc40-3f300dc07672",
      "name": "06 Code - Parsear IA con fallback",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        256,
        272
      ]
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first()?.json || {};\n\nconst nombre = data.nombre || \"Paciente\";\nconst sintoma = data.sintoma || \"síntomas no especificados\";\nconst planSeguro = data.planSeguro || \"Basico\";\n\nconst especialidad = data.especialidad || \"Medicina General\";\nconst urgencia = data.urgencia || \"baja\";\nconst razon = data.razon || \"Clasificación generada por el agente.\";\nconst fuenteClasificacion = data.fuenteClasificacion || \"fallback_reglas\";\nconst sintomasClave = data.sintomasClave || [sintoma];\n\nconst planes = {\n  Basico: {\n    cobertura: 0.60,\n    copagoBase: 45\n  },\n  Estandar: {\n    cobertura: 0.75,\n    copagoBase: 30\n  },\n  Premium: {\n    cobertura: 0.90,\n    copagoBase: 20\n  }\n};\n\nconst hospitales = [\n  {\n    nombre: \"Hospital Central\",\n    especialidades: [\"Cardiología\", \"Neurología\", \"Medicina General\"],\n    costoConsulta: 280\n  },\n  {\n    nombre: \"Clínica San Rafael\",\n    especialidades: [\"Neumología\", \"Gastroenterología\", \"Medicina General\"],\n    costoConsulta: 240\n  },\n  {\n    nombre: \"Centro Médico Vida\",\n    especialidades: [\"Dermatología\", \"Medicina General\"],\n    costoConsulta: 180\n  },\n  {\n    nombre: \"Hospital Metropolitano\",\n    especialidades: [\"Traumatología\", \"Cardiología\", \"Medicina General\"],\n    costoConsulta: 300\n  }\n];\n\nconst plan = planes[planSeguro] || planes.Basico;\n\nconst hospitalesCompatibles = hospitales.filter(hospital =>\n  hospital.especialidades.includes(especialidad)\n);\n\nconst opciones = hospitalesCompatibles.length > 0\n  ? hospitalesCompatibles\n  : hospitales.filter(hospital => hospital.especialidades.includes(\"Medicina General\"));\n\nlet hospitalRecomendado = opciones[0];\n\nfor (const hospital of opciones) {\n  if (hospital.costoConsulta < hospitalRecomendado.costoConsulta) {\n    hospitalRecomendado = hospital;\n  }\n}\n\nconst costoPacienteEstimado = Math.round(\n  hospitalRecomendado.costoConsulta * (1 - plan.cobertura)\n);\n\nconst copago = plan.copagoBase;\n\nconst mensaje = `Hola ${nombre}. Según tu plan ${planSeguro}, la especialidad sugerida es ${especialidad}. Tu copago estimado es de $${copago} y el hospital más conveniente es ${hospitalRecomendado.nombre}, con costo estimado para paciente de $${costoPacienteEstimado}. Importante: por la naturaleza de los síntomas, se recomienda buscar atención médica urgente o acudir a emergencias.`;\n\nreturn [\n  {\n    json: {\n      nombre,\n      especialidad,\n      urgencia,\n      cobertura: `${Math.round(plan.cobertura * 100)}%`,\n      copago: `$${copago}`,\n      hospitalRecomendado: hospitalRecomendado.nombre,\n      costoPacienteEstimado: `$${costoPacienteEstimado}`,\n      fuenteClasificacion,\n      razon,\n      mensaje,\n      disclaimer: \"MVP de hackathon. No reemplaza diagnóstico médico profesional.\",\n      metadata: {\n        planSeguro,\n        sintomasRecibidos: sintoma,\n        sintomasClave,\n        timestamp: new Date().toISOString()\n      }\n    }\n  }\n];"
      },
      "id": "583b2963-1c9e-44f4-95cc-09845a2c8ee4",
      "name": "07 Code - Calcular cobertura, copago y hospital",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        512,
        272
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseCode": 200,
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              },
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              }
            ]
          }
        }
      },
      "id": "4ff942ba-fb30-4747-ac6a-0d5d68cf6253",
      "name": "08 Respond - JSON final al frontend",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        784,
        272
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "01 Webhook - Recibir solicitud paciente": {
      "main": [
        [
          {
            "node": "02 Code - Validar y normalizar input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "02 Code - Validar y normalizar input": {
      "main": [
        [
          {
            "node": "03 IF - ¿Input inválido?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "03 IF - ¿Input inválido?": {
      "main": [
        [
          {
            "node": "04 Respond - Error de validación",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "05 HTTP - Clasificar síntomas con IA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "05 HTTP - Clasificar síntomas con IA": {
      "main": [
        [
          {
            "node": "06 Code - Parsear IA con fallback",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "06 Code - Parsear IA con fallback": {
      "main": [
        [
          {
            "node": "07 Code - Calcular cobertura, copago y hospital",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "07 Code - Calcular cobertura, copago y hospital": {
      "main": [
        [
          {
            "node": "08 Respond - JSON final al frontend",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "e7a2a126-2a28-46b1-8509-615d35aa51ce",
  "meta": {
    "instanceId": "ed0542a9ac59bee5121d08885cee5044df3e3a5a1ef62cd69630812befe58474"
  },
  "id": "DDFgr37N12FpXcJJ",
  "tags": []
}
