backend-n8n/workflows/agente_principal.json
{
  "name": "Agente IA - Estimador de Copago y Cobertura",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "agente-copago",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "id": "webhook_agente_copago",
      "name": "01 Webhook - Recibir solicitud paciente",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        120,
        300
      ],
      "webhookId": "agente-copago"
    },
    {
      "parameters": {
        "jsCode": "// Normaliza y valida el input recibido desde frontend\nconst body = $json.body || $json;\n\nconst nombre = String(body.nombre || 'Paciente').trim();\nconst sintoma = String(body.sintoma || body.sintomas || '').trim();\nconst planSeguro = String(body.planSeguro || body.plan || 'Basico').trim();\n\nif (!sintoma || sintoma.length < 3) {\n  return [{\n    json: {\n      error: true,\n      statusCode: 400,\n      mensaje: 'Debes enviar un sรญntoma vรกlido.',\n      ejemplo: {\n        nombre: 'Juan',\n        sintoma: 'dolor de pecho y mareos',\n        planSeguro: 'Premium'\n      }\n    }\n  }];\n}\n\nconst planesPermitidos = ['Basico', 'Estรกndar', 'Estandar', 'Premium'];\nconst planNormalizado = planSeguro.toLowerCase().includes('premium')\n  ? 'Premium'\n  : planSeguro.toLowerCase().includes('est')\n    ? 'Estรกndar'\n    : 'Basico';\n\nreturn [{\n  json: {\n    error: false,\n    nombre,\n    sintoma,\n    planSeguro: planNormalizado,\n    timestamp: new Date().toISOString()\n  }\n}];"
      },
      "id": "code_validar_input",
      "name": "02 Code - Validar y normalizar input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        380,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "input_error_condition",
              "leftValue": "={{ $json.error }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if_input_valido",
      "name": "03 IF - ยฟInput invรกlido?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        620,
        300
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseCode": "={{ $json.statusCode || 400 }}"
        }
      },
      "id": "respond_error_input",
      "name": "04 Respond - Error de validaciรณn",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        880,
        160
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{$env.OPENAI_API_KEY}}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{\n{\n  \"model\": $env.OPENAI_MODEL || \"gpt-4o-mini\",\n  \"temperature\": 0.2,\n  \"response_format\": { \"type\": \"json_object\" },\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"Eres un clasificador de sรญntomas para un MVP de hackathon. No das diagnรณstico mรฉdico. Solo devuelves JSON vรกlido con: especialidad, urgencia, razon, sintomasClave. Especialidades permitidas: Medicina General, Cardiologรญa, Neurologรญa, Gastroenterologรญa, Traumatologรญa, Dermatologรญa, Ginecologรญa, Pediatrรญa, Otorrinolaringologรญa, Neumologรญa, Oftalmologรญa, Urologรญa. Urgencia permitida: baja, media, alta. Si hay dolor de pecho, dificultad respiratoria intensa, desmayo, convulsiones o signos graves, usa urgencia alta.\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"Paciente: \" + $json.nombre + \". Sรญntomas: \" + $json.sintoma + \". Devuelve รบnicamente JSON.\"\n    }\n  ]\n}\n}}"
      },
      "id": "http_openai_clasificar",
      "name": "05 HTTP - Clasificar sรญntomas con IA",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        880,
        430
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "// Une datos originales + respuesta de IA.\n// Si OpenAI falla, aplica fallback por palabras clave para que la demo nunca se caiga.\nconst input = $('02 Code - Validar y normalizar input').first().json;\nconst aiRaw = $json;\n\nfunction fallbackEspecialidad(s) {\n  const t = s.toLowerCase();\n  if (/(pecho|cardiaco|corazรณn|corazon|palpitaciones|presiรณn alta|presion alta)/.test(t)) return { especialidad: 'Cardiologรญa', urgencia: 'alta', razon: 'Los sรญntomas pueden estar relacionados con el sistema cardiovascular.' };\n  if (/(mareo|migraรฑa|migraรฑa|convuls|desmayo|debilidad|adormecimiento|cabeza)/.test(t)) return { especialidad: 'Neurologรญa', urgencia: 'media', razon: 'Los sรญntomas se relacionan con el sistema nervioso.' };\n  if (/(estรณmago|estomago|diarrea|vรณmito|vomito|nรกusea|nausea|gastritis|abdomen)/.test(t)) return { especialidad: 'Gastroenterologรญa', urgencia: 'media', razon: 'Los sรญntomas se relacionan con el sistema digestivo.' };\n  if (/(tos|respirar|respiraciรณn|respiracion|asma|pulmรณn|pulmon|flema)/.test(t)) return { especialidad: 'Neumologรญa', urgencia: 'media', razon: 'Los sรญntomas se relacionan con vรญas respiratorias.' };\n  if (/(fractura|golpe|rodilla|hueso|torcedura|espalda|articulaciรณn|articulacion)/.test(t)) return { especialidad: 'Traumatologรญa', urgencia: 'media', razon: 'Los sรญntomas se relacionan con lesiones musculoesquelรฉticas.' };\n  if (/(piel|roncha|picazรณn|picazon|alergia|sarpullido|grano|dermatitis)/.test(t)) return { especialidad: 'Dermatologรญa', urgencia: 'baja', razon: 'Los sรญntomas se relacionan con piel.' };\n  if (/(garganta|oรญdo|oido|nariz|sinusitis|amรญgdala|amigdala)/.test(t)) return { especialidad: 'Otorrinolaringologรญa', urgencia: 'baja', razon: 'Los sรญntomas se relacionan con oรญdo, nariz o garganta.' };\n  return { especialidad: 'Medicina General', urgencia: 'baja', razon: 'Los sรญntomas requieren una primera valoraciรณn mรฉdica general.' };\n}\n\nlet clasificacion = null;\n\ntry {\n  const content = aiRaw.choices?.[0]?.message?.content;\n  if (content) clasificacion = JSON.parse(content);\n} catch (e) {\n  clasificacion = null;\n}\n\nif (!clasificacion || !clasificacion.especialidad) {\n  clasificacion = fallbackEspecialidad(input.sintoma);\n  clasificacion.fuente = 'fallback_reglas';\n} else {\n  clasificacion.fuente = 'ia_openai';\n}\n\nreturn [{\n  json: {\n    ...input,\n    ia: clasificacion\n  }\n}];"
      },
      "id": "code_parse_ia",
      "name": "06 Code - Parsear IA con fallback",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1130,
        430
      ]
    },
    {
      "parameters": {
        "jsCode": "// Datos simulados del MVP: planes, cobertura base y hospitales por especialidad.\nconst input = $json;\nconst especialidad = input.ia.especialidad || 'Medicina General';\nconst urgencia = input.ia.urgencia || 'baja';\n\nconst planes = {\n  'Basico': {\n    cobertura: 0.60,\n    copagoBase: {\n      'Medicina General': 18,\n      'Cardiologรญa': 45,\n      'Neurologรญa': 40,\n      'Gastroenterologรญa': 35,\n      'Traumatologรญa': 32,\n      'Dermatologรญa': 28,\n      'Ginecologรญa': 30,\n      'Pediatrรญa': 25,\n      'Otorrinolaringologรญa': 26,\n      'Neumologรญa': 34,\n      'Oftalmologรญa': 27,\n      'Urologรญa': 33\n    }\n  },\n  'Estรกndar': {\n    cobertura: 0.75,\n    copagoBase: {\n      'Medicina General': 12,\n      'Cardiologรญa': 28,\n      'Neurologรญa': 26,\n      'Gastroenterologรญa': 22,\n      'Traumatologรญa': 20,\n      'Dermatologรญa': 18,\n      'Ginecologรญa': 18,\n      'Pediatrรญa': 15,\n      'Otorrinolaringologรญa': 16,\n      'Neumologรญa': 21,\n      'Oftalmologรญa': 17,\n      'Urologรญa': 21\n    }\n  },\n  'Premium': {\n    cobertura: 0.90,\n    copagoBase: {\n      'Medicina General': 5,\n      'Cardiologรญa': 15,\n      'Neurologรญa': 14,\n      'Gastroenterologรญa': 12,\n      'Traumatologรญa': 10,\n      'Dermatologรญa': 9,\n      'Ginecologรญa': 10,\n      'Pediatrรญa': 8,\n      'Otorrinolaringologรญa': 8,\n      'Neumologรญa': 11,\n      'Oftalmologรญa': 9,\n      'Urologรญa': 11\n    }\n  }\n};\n\nconst hospitales = [\n  { nombre: 'Hospital Central', especialidades: ['Cardiologรญa','Neurologรญa','Medicina General','Neumologรญa'], precioConsulta: 80, score: 4.8 },\n  { nombre: 'Clรญnica San Rafael', especialidades: ['Gastroenterologรญa','Traumatologรญa','Dermatologรญa','Medicina General'], precioConsulta: 65, score: 4.6 },\n  { nombre: 'Centro Mรฉdico Vida', especialidades: ['Medicina General','Pediatrรญa','Ginecologรญa','Otorrinolaringologรญa','Oftalmologรญa','Urologรญa'], precioConsulta: 50, score: 4.4 },\n  { nombre: 'Hospital Metropolitano', especialidades: ['Cardiologรญa','Neurologรญa','Traumatologรญa','Gastroenterologรญa','Neumologรญa'], precioConsulta: 95, score: 4.9 }\n];\n\nconst plan = planes[input.planSeguro] || planes['Basico'];\nlet copago = plan.copagoBase[especialidad] ?? plan.copagoBase['Medicina General'];\n\n// Ajuste simple por urgencia para demo.\nif (urgencia === 'alta') copago += 5;\nif (urgencia === 'media') copago += 2;\n\nconst candidatos = hospitales\n  .filter(h => h.especialidades.includes(especialidad))\n  .map(h => ({\n    ...h,\n    costoPacienteEstimado: Math.round(h.precioConsulta * (1 - plan.cobertura) + copago)\n  }))\n  .sort((a, b) => a.costoPacienteEstimado - b.costoPacienteEstimado || b.score - a.score);\n\nconst recomendado = candidatos[0] || hospitales[2];\n\nconst advertencia = urgencia === 'alta'\n  ? 'Importante: por la naturaleza de los sรญntomas, se recomienda buscar atenciรณn mรฉdica urgente o acudir a emergencias.'\n  : 'Esta recomendaciรณn es una estimaciรณn informativa para orientar la elecciรณn de cobertura y centro mรฉdico.';\n\nreturn [{\n  json: {\n    nombre: input.nombre,\n    especialidad,\n    urgencia,\n    cobertura: `${Math.round(plan.cobertura * 100)}%`,\n    copago: `$${copago}`,\n    hospitalRecomendado: recomendado.nombre,\n    costoPacienteEstimado: `$${recomendado.costoPacienteEstimado}`,\n    fuenteClasificacion: input.ia.fuente,\n    razon: input.ia.razon || 'Clasificaciรณn generada a partir de los sรญntomas reportados.',\n    mensaje: `Hola ${input.nombre}. Segรบn tu plan ${input.planSeguro}, la especialidad sugerida es ${especialidad}. Tu copago estimado es de $${copago} y el hospital mรกs conveniente es ${recomendado.nombre}, con costo estimado para paciente de $${recomendado.costoPacienteEstimado}. ${advertencia}`,\n    disclaimer: 'MVP de hackathon. No reemplaza diagnรณstico mรฉdico profesional.',\n    metadata: {\n      planSeguro: input.planSeguro,\n      sintomasRecibidos: input.sintoma,\n      timestamp: input.timestamp\n    }\n  }\n}];"
      },
      "id": "code_calcular_copago",
      "name": "07 Code - Calcular cobertura, copago y hospital",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1390,
        430
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseCode": 200,
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              },
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              }
            ]
          }
        }
      },
      "id": "respond_json_final",
      "name": "08 Respond - JSON final al frontend",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1650,
        430
      ]
    }
  ],
  "connections": {
    "01 Webhook - Recibir solicitud paciente": {
      "main": [
        [
          {
            "node": "02 Code - Validar y normalizar input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "02 Code - Validar y normalizar input": {
      "main": [
        [
          {
            "node": "03 IF - ยฟInput invรกlido?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "03 IF - ยฟInput invรกlido?": {
      "main": [
        [
          {
            "node": "04 Respond - Error de validaciรณn",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "05 HTTP - Clasificar sรญntomas con IA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "05 HTTP - Clasificar sรญntomas con IA": {
      "main": [
        [
          {
            "node": "06 Code - Parsear IA con fallback",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "06 Code - Parsear IA con fallback": {
      "main": [
        [
          {
            "node": "07 Code - Calcular cobertura, copago y hospital",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "07 Code - Calcular cobertura, copago y hospital": {
      "main": [
        [
          {
            "node": "08 Respond - JSON final al frontend",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": null,
  "pinData": {},
  "versionId": "922fb32f-2321-4a6e-a3f8-fa86455fc3c4",
  "triggerCount": 1,
  "tags": []
}
